@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.App {
  text-align: center;
}


.navMain {
  background-color: white;
  height: 100px;
  color: rgb(84, 169, 115);
  padding: 25px;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40px;
  border: rgb(145, 215, 145) 10px;
  box-shadow: 10px 10px 70px 5px rgb(165, 165, 165);

}


.footerMain{
  padding: 10px;
  height: 40px;
  background-color: lightgray;
  color: black;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 10px;
}

.homepageMain{
  /* padding-top: 100px; */
  margin-bottom: 20px;

}

.stockHomepage {
  background-color: white;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top:5%;

}

.stockMain{
  background-color: white;
  width: 200px;
  border-color: lightgray;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;

}


.stockName{
  color: rgb(0, 0, 0);
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  height: 50px;
  font-size: 14px;
}

.stockTitle{
  color: rgb(84, 162, 117);
  text-align: left;
  padding-bottom: 2px;
  font-size: 13px;
}


.stockContent{
  font-weight: 500;
  padding-bottom: 5px;
  font-size: 13px;
  text-align: left;
  
}

.stockMetrics{
  font-size: 13px;
  background-color: rgb(47, 94, 99);
  padding: 5px;
  color: white;
  text-align: left;
}



.addStockMain{
  margin: 10px;
  /* position: fixed; */
  top: 70px;
  text-align: center;
  background-color: white;
  padding: 10px;
  width: 100%;
  font-size: 13px;
  z-index: 2;
}



.deleteStock{
  position: relative;
  background-color: lightgray;
  width: 80%;
  border: none;
  color: black;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 13px;

}

.deleteStock:hover{
  background-color: gray;
  color: white;

  
}


.stockBoxMain{
  width: 1000px;
  border-radius: 50px;
  background-color: rgb(189, 245, 186);
  box-shadow: 5px 5px #888888;
  margin: 20px;
}


.stockBoxTitle{
  text-transform: uppercase;
  padding-top: 20px;
  font-family: 'Nanum Myeongjo', serif;
}


.addStockMessage{
  font-family: 'Nanum Myeongjo', serif;
  font-size: 14px;
  padding-top: 3px;
  font-style: italic;
  color: green;
}

.addStockTitle h5{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color: green;
  text-transform: uppercase;
}

h9 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 15px;
}

.optionFont {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 15px;
}

.introMain{
  margin-bottom: 80px;
}

.introThirdMain{
  text-align: left;
  display: flex;
  flex-direction: row;
  /* padding:100px; */
}
.introThirdMain div{
  margin-bottom: 2%;
  margin-left:4%;
  margin-right:4%;
}

h10{
  font-family: 'Nanum Myeongjo', serif;
}


h11 {
  font-family: 'Josefin Sans', sans-serif;
}

h12 {
  font-family: 'Nanum Myeongjo', serif;
}

h13{
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  text-align: left;
}


@media screen and (max-width: 600px) {
  .navMain {
     font-size: 25px;
  }

  .introMain{
    padding-left: 50px;
    padding-right: 50px;
  }

  .footerMain{
    height: 60px;
  }
  #login-main{
    flex-direction: column;
  }

}